footer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom:150px ;
  
    h2{
        text-transform: none;
    }

  ul {
    display: flex;
    width: 100%;
    justify-content: center;

    li {
      width: 60px;
      height: 60px;
      font-size: 1.8rem;
      border: 1px solid rgb(255, 255, 255);
      padding: 17px;
      border-radius: 30px;
      display: flex;
      text-align: center;
      margin-right: 30px;
     
      transition: 0.4s;
     
        @media screen and (max-width :1000px){
            grid-template-columns: 1fr 1fr ;
    } 

      &:hover {
        transform: scale(1.5);
      }
      i {
       transform: translateY(-40%);
      }
    }
  }
}
