.form-container {
  width: 80%;
  margin: 0 auto;

  .form-contact {
    width: 100%;
    text-align: center;

    legend {
      text-align: center;
    }

    .form-display {
      
      border-radius: 30px;
      background: rgba(129, 129, 207, 0.451);
      margin: 0 20px 0 0;
      display: grid;
      grid-template-columns: 15% 1fr;
        @media screen and (max-width :800px) {
          
          display: flex;
          
          flex-direction: column;
          justify-content:space-between;
          margin: 0;
          
  }
      
      label,input, select, textarea {
        margin: 4px;
        height: 40px;
        text-transform: uppercase;
        border-radius: 15px;
        padding: 5px ;
        color: rgb(0, 0, 0);
      
        
      }
input[type="number"]{
    margin-top: 10px;
}
      label{
        color: beige;
      }
      // .label-message{
      //   padding-top: 50%;
        
      // }
      // .label-select{
      //   margin-top: 25%;
      // }

      select{
        margin-top: 10px;
          @media screen and (max-width :500px){
            margin: 0;
      } 
      }

      textarea{
        height: 250px;
        margin-bottom: 25px;
        resize: none;
        margin-top: 10px;
        text-transform: none;
          @media screen and (max-width :500px){
       margin: 0 0 25px 0;
      } 
     
      }
        option{
            color: black;
        }
        input[type="submit"]{
            color: black;
            margin-left: 25px;
            margin-bottom: 25px;
              @media screen and (max-width :700px){
                text-align: center;
                margin: 0;
      } 
        }
    }
  }
}
