.section-main-2{
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;


  button{
    margin: 10px;
    width: 145px;
    height: 60px;
    background: transparent;
    border-radius: 65px;
    align-items: center;
    transition: 0.6s
  }
  button:hover{
    background: rgb(68, 220, 254);
  }


    .panel{
      visibility: hidden;
      height: 1px;
      width: 80%;
      margin: 0 auto;
      transition: 0.1s;
    }

    .showpanel{
      visibility: visible;
      height: 25%;
    }


}