.partner-container{
    width: 80%;
    margin: 0 auto;
@media screen and (max-width :515px){
    display: none;
}
    .partner-img{
        
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            gap: 20px;  
        }
        li{
            transition: 0.4s;
        }
        li:hover{
            transform: scale(2);
        }
    }
}