.section-main-4{
    width: 80%;
    margin: 0 auto;

    .equipement-container{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px; 
        
        @media screen and (max-width :715px){
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    }

} 

            img{
            width: 75%;
            height: 50%;

            }