@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.section1-carrousel {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  justify-items: center;

   @media screen and (max-width :700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   
   
  }

  .text {
    min-height: 25vh;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 3rem;
    color: aliceblue;
  }
  #target {
    display: flex;
    margin-left: 1rem;
    position: relative;
    color: aliceblue;
  }
  #target::after {
    content: "";
    position: absolute;
    height: 3rem;
    width: 5px;
    background: rgb(255, 255, 255);
    top: 0;
    transform: translateY(-4px);
    right: -5px;
    animation: anim 0.8s linear infinite;
  }
  @keyframes anim {
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }

  .carousel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
   

    .btn {
      position: absolute;
      background: none;
      border: none;
      outline: none;
      font-size: 2.6rem;
      z-index: 2;
      cursor: pointer;
      color: rgb(238, 242, 245);
      transform: translateY(-50%);
      top: 50%;
    }

    #prev {
      left: 23px;
    }
    #next {
      right: 10px;
    }

    .slide {
      position: absolute;
      height: 100%;
      width: 90%;
      opacity: 0;

      &.active {
        opacity: 1;
      }
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 37% 37% 37% 37% / 37% 37% 37% 37%;
      }
    }
  }
}

// @media screen and (max-width :550px) {
//  .section1-carrousel{

//  }
