.tarif-container{
    margin: 25px auto;
    @media screen and (max-width :900px){
        h2{
            font-size: 1.2rem;
        }
}
    

    .tarif-list{
        max-width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        font-size: 1.5rem;
        border: 1px solid red

        p{
            font-size: 1.1rem;
        }
        @media screen and (max-width :900px){
            font-size: 0.8rem;
            
            
            p{
                transform: translateX(10%);
            }
    }
}
}